In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [10]:
df1 = pd.read_csv("./fundamental data/commercial bank/Agricultural Development Bank Limited ( ADBL ).csv")
df2 = pd.read_csv("./fundamental data/commercial bank/Citizens Bank International Limited ( CZBIL ).csv")
df3 = pd.read_csv("./fundamental data/commercial bank/Everest Bank Limited ( EBL ).csv")
df4 = pd.read_csv("./fundamental data/commercial bank/Global IME Bank Limited ( GBIME ).csv")
df5 = pd.read_csv("./fundamental data/commercial bank/Himalayan Bank Limited ( HBL ).csv")
df6 = pd.read_csv("./fundamental data/commercial bank/Kumari Bank Limited ( KBL ).csv")
df7 = pd.read_csv("./fundamental data/commercial bank/Machhapuchchhre Bank Limited ( MBL ).csv")
df8 = pd.read_csv("./fundamental data/commercial bank/Nabil Bank Limited ( NABIL ).csv")
df9 = pd.read_csv("./fundamental data/commercial bank/Nepal Bank Limited ( NBL ).csv")
df10 = pd.read_csv("./fundamental data/commercial bank/Nepal SBI Bank Limited ( SBI ).csv")
df11 = pd.read_csv("./fundamental data/commercial bank/NIC Asia Bank Limited ( NICA ).csv")
df12 = pd.read_csv("./fundamental data/commercial bank/NMB Bank Limited ( NMB ).csv")
df13 = pd.read_csv("./fundamental data/commercial bank/Prabhu Bank Limited ( PRVU ).csv")
df14 = pd.read_csv("./fundamental data/commercial bank/Prime Commercial Bank Limited ( PCBL ).csv")
df15 = pd.read_csv("./fundamental data/commercial bank/Sanima Bank Limited ( SANIMA ).csv")
df16 = pd.read_csv("./fundamental data/commercial bank/Siddhartha Bank Limited ( SBL ).csv")
df17 = pd.read_csv("./fundamental data/commercial bank/Standard Chartered Bank Nepal Limited ( SCB ).csv")

In [ ]:
# df17.insert(0, "symbol", "SCB")
df17

In [32]:
dataframes =[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17]
merged_df = dataframes[0]

for df in dataframes[1:]:
    merged_df = pd.concat([merged_df, df.iloc[1:]], ignore_index=True)

print(merged_df)

      symbol published_date   open   high    low  close  per_change  \
0       ADBL      9/20/2011  117.0  120.0  118.0  118.0        0.85
1       ADBL      9/21/2011  118.0  117.0  117.0  117.0       -0.85
2       ADBL      9/22/2011  117.0  120.0  116.0  118.0        0.85
3       ADBL      9/25/2011  118.0  120.0  116.0  120.0        1.69
4       ADBL      9/26/2011  120.0  120.0  115.0  120.0        0.00
...      ...            ...    ...    ...    ...    ...         ...
45533    SCB     2024-03-05  525.0  530.0  514.4  517.6       -1.41
45534    SCB     2024-03-06  508.3  524.2  508.0  519.0        0.27
45535    SCB     2024-03-07  519.0  528.0  518.0  521.0        0.39
45536    SCB     2024-03-10  528.5  529.0  518.5  521.3        0.06
45537    SCB     2024-03-12  525.0  540.0  520.4  539.6        3.51

       traded_quantity  traded_amount  status
0                571.0        68039.0     NaN
1                683.0        79911.0     NaN
2               1230.0       145130.0     NaN
3               2124.0       249661.0     NaN
4               1155.0       136110.0     NaN
...                ...            ...     ...
45533           9514.0      4915026.7    -1.0
45534           7914.0      4079099.3     1.0
45535           4949.0      2572275.5     1.0
45536           5082.0      2656581.3    -1.0
45537          30695.0     16274849.2     1.0

[45538 rows x 10 columns]

In [34]:
merged_df.to_csv("./fundamental data/commercial.csv", index=False)